.ads-container {
    display: flex;
    justify-content: space-around;
    padding-left: 15px;

    img {
        max-height: 100px;
        border: 1px solid black;
    }

    .ad {
        flex-basis: 60%;
        
        img {
            width: 100%;
        }
    }
    
    .subscribe {
        flex-basis: 30%;
    } 
}