@import "colors";
@import "animations";

header {
    width: 100vw;
    background-color: $secondary-color;
    padding-top: 15px;
    
    .header-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        
        a {
            
            img {
                margin-right: 2rem;
                max-height: 50px;
            }
        }

        .search-form {
            display: flex;
            
            input, button {
                line-height: 1.5;
                font-size: 1rem;
                border: hidden;
            }
    
            input {
                border-radius: 2rem 0 0 2rem;
                padding: .5rem;
                width: 27rem;
    
                &::placeholder {
                    color: #ccc
                }
            }
            
            button {
                border-radius: 0 2rem 2rem 0;
                background-color: $main-color;
                color: $header-link;
                padding: .5rem;
                width: 7rem;
                transition: $hover-bg-color;
                cursor: pointer;
    
                &:hover {
                    background-color: #69ccc2
                }
            }
        }


        .user-links {
            display: flex;
            margin-left: auto;
            margin-right: 40px;

            a {
                color: $header-link;
                margin-right: 1rem;
                font-size: 1.5rem;

                &:hover {
                    color: $main-color;
                }
            }

        }
    }

    .navbar {
        background-color: $main-color;

        ul {
            padding-left: 30px;

            li {
                padding: .8rem 1.1rem;
                line-height: 1;
                
                a {
                    color: $header-link;
                }
            }

            li:hover {
                background-color: $secondary-color;
            }
        }
    }
}